force-app/main/default/flows/RPA_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetOrgURL</name>
        <label>GetOrgURL</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>retrieveSiteUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_for_Mulesoft_RPA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>siteNames</name>
            <value>
                <stringValue>ProductInterest</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>MuleSoft_RPA_Call</name>
        <label>MuleSoft RPA Call</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>MulesoftRPA.postVip_status</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Lead_with_Orchestration_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>Input</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_for_Mulesoft_RPA</name>
        <label>Assignment for Mulesoft_RPA</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Input.inputArguments.experinceCloudUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOrgURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input.inputArguments.leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input.inputArguments.salesforcePassword</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input.inputArguments.salesforceUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input.callbackUri</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOrgURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MuleSoft_RPA_Call</targetReference>
        </connector>
    </assignments>
    <interviewLabel>RPA Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RPA Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_with_Orchestration_ID</name>
        <label>Update Lead with Orchestration ID</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Orchestration_Instance_Id__c</field>
            <value>
                <elementReference>OrchestrationId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrgURL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Exception</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input</name>
        <apexClass>ExternalService__MulesoftRPA_postVipx5fstatus_IN_generated</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrchestrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
