community/main/default/flows/Product_Interest_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>VIP_Lead</name>
        <label>VIP Lead</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not VIP</defaultConnectorLabel>
        <rules>
            <name>VIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_Task_Flow_run.Outputs.Refreshed_VIP_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Channel_Create</targetReference>
            </connector>
            <label>VIP</label>
        </rules>
    </decisions>
    <formulas>
        <name>NameWithDashes</name>
        <dataType>String</dataType>
        <expression>LOWER({!$Record.FirstName})&amp;&quot;-&quot;&amp;LOWER({!$Record.LastName})</expression>
    </formulas>
    <interviewLabel>Product Interest Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Interest Orchestration</label>
    <orchestratedStages>
        <name>Agent_Tasks</name>
        <label>Agent Tasks</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>VIP_Lead</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Username</name>
            <actionName>User_Get_by_Alias</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>alias</name>
                <value>
                    <stringValue>UUser</stringValue>
                </value>
            </inputParameters>
            <label>Get Username</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Agent_Task_Flow_run</name>
            <actionName>Agent_Tasks_Product_Interest</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Username.Outputs.user</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Get_Username.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LeadId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Agent Task Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Slack_Channel_Create</name>
        <label>Slack Channel Create</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Slack_Channel_Create_Step</name>
            <actionName>Create_Lead_Slack_Channel</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>LeadAccountName</name>
                <value>
                    <elementReference>NameWithDashes</elementReference>
                </value>
            </inputParameters>
            <label>Auto Create Slack Channel</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Agent_Tasks</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
